.advantages {
  margin: 0 auto;
  padding: 0 35px;
  padding-top: 55px;
  width: auto;
  position: relative;
  font-family: @font-family-main;
  background-color: @background-color-second;

  &__list {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
  }

  &__item {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    font-family: @font-family-main;
    text-align: center;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: @color-black;
    text-align: center;
  }

  &__description {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: @color-main;
    text-align: center;
  }
}

.advantages__img {
  margin: 0 auto;
  display: block;
}

.advantages__item--vh {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
  }

  .advantages__item-picture {
    display: block;
  }

  /*
  .advantages__img--1 {
    width: 268px;
    height: 547px;
    background-image: url("../img/iphone-screen-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  */

  .advantages__list--text {
    margin: 0;
    margin-top: 75px;
    margin-left: 40px;
    width: 250px;
    order: 2;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__list--text {
    margin: 0;
    margin-top: -79px;
    width: auto;
    background-color: @background-color-second;
    z-index: 10;
  }

  .advantages__title {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }

  .advantages__description {
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
  }

  .advantages__item,
  .advantages__item--vh {
    display: block;
    margin: 0 31px;
    width: 239px;
  }

  .advantages__img {
    margin: 0 auto;
    text-align: center;
  }

  /*
  .advantages__img--1 {
    margin-right: 0;
  }

  .advantages__img--2 {
    margin: 0 auto;
  }

  .advantages__img--3 {
    margin: 0 auto;
    margin-left: 0;
  }

  .advantages__img--1 {
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone-screen-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }*/
}
