.advantages {
  margin: 0 auto;
  padding: 0px 35px;
  padding-top: 55px;
  width: auto;
  position: relative;
  font-family: @font-family-main;
  background-color: @background-color-second;
  &__list {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
  }
  &__item {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    font-family: @font-family-main;
    text-align: center;
  }
  &__title {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: @color-black;
    text-align: center;
  }
  &__description {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: @color-main;
    text-align: center;
  }
}
