.author-caption {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 19px;
  /*width: 280px;*/
  position: relative;
  background-color: @background-color-second;

  &--panorama {
    margin: 0 20px;
  }

  &__name {
    margin: 0 auto;
    margin-top: 16px;
    padding: 0;
    font-family: @font-family-main;
  }

  &__nickname {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: @color-main;
    text-align: left;
  }

  &__date {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: @color-main;
    text-align: left;
  }

  &__text {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  &__txt {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  &__likes {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: @tablet-width) {
  .author-caption {
    padding: 0;
    padding-left: 27px;
    padding-right: 32px;
    width: 300px;
    min-height: 155px;
    box-sizing: border-box;

    &__name {
      margin: 0 auto;
      margin-top: 22px;
      padding: 0;
    }

    &__text {
      min-height: 47px;
    }
  }

  .author-caption--panorama {
    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    padding-bottom: 29px;
    width: 620px;
    min-height: 121px;
    position: relative;
    background-color: @background-color-second;
  }
}

@media (min-width: @desktop-width) {
  .author-caption {
    min-height: 153px;
  }

  .author-caption--panorama {
    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    width: 940px;
    min-height: 96px;
    position: relative;
    background-color: @background-color-second;
  }
}
