.button-fill {
  margin: 0;
  margin-left: 34px;
  padding: 0;
  width: 48px;
  height: 43px;
  background-color: @background-color-second;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .button-fill {
    margin: 0;
    padding: 0;
    padding-left: 3px;
    padding-right: 28px;
    padding-top: 26px;
    padding-bottom: 25px;
    width: 55px;
    height: 72px;
    border-top: 1px solid #dddfe0;
    box-sizing: border-box;
  }

  .button-fill__icon {
    width: 24px;
    height: 22px;
    fill: @color-pink;
  }
}

@media (min-width: @desktop-width) {
  .button-fill {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 44px;
    padding-top: 15px;
    padding-bottom: 14px;
    width: 92px;
    height: 72px;
  }

  .button-fill__icon {
    margin: 0;
    width: 48px;
    height: 43px;
  }
}
