.button-contrast {
  margin: 0;
  padding: 0;
  width: 33px;
  height: 33px;
  background-color: @background-color-second;
  border: none;
  cursor: pointer;
}

/*
.button-contrast__icon {
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  color: @color-main;
}
*/
