.download {
  margin: 0 auto;
  padding: 24px 20px;
  padding-bottom: 30px;
  width: auto;
  position: relative;
  background-color: @background-color-dark;

  &__title--vh {
    display: none;
  }

  &__btn {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 10px;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: @color-white;
    width: 280px;
    height: 55px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: @background-color-dark;
    border: 3px solid @color-white;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__btn:hover {
    color: @color-pink;
    background-color: @color-white;
  }

  &__btn:active {
    color: rgba(210, 40, 86, 0.3);
  }

  &__icon {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    width: 205px;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-href {
      margin: 0;
      padding: 0;
    }
  }

  &__text {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #868b91;
    width: auto;
    height: auto;
    text-align: center;
  }
}

.apple-icon {
  margin: 0;
  width: 47px;
  height: 56px;
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.android-icon {
  margin: 0;
  width: 43px;
  height: 47px;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.microsoft-icon {
  margin: 0;
  width: 44px;
  height: 41px;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

@media (min-width: @tablet-width) {
  .download {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    margin-top: -525px;
    width: 300px;
    height: 460px;
    background-color: transparent;
  }

  .download__title,
  .download__title--vh {
    margin: 0 auto;
    margin-bottom: 29px;
    padding: 0;
    display: block;
    font-family: @font-family-main;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: @color-white;
    text-align: center;
  }

  .download__btn {
    margin: 0;
    margin-bottom: 45px;
    padding-top: 10px;
    width: 300px;
    background-color: transparent;
  }

  .download__icon {
    margin-bottom: 40px;
  }

  .download__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: -637px;
    margin-left: 10px;
    width: 300px;
    height: 460px;
    background-color: transparent;
  }

  .download__icon {
    margin-bottom: 59px;
  }

  .download__title,
  .download__title--vh {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .download__btn {
    margin-bottom: 65px;
    padding: 15px;
    width: 300px;
    font-size: 21px;
    line-height: 18px;
  }
}
