.intro {
  margin: 0 auto;
  padding: 0;
  width: auto;
  position: relative;
  min-height: 462px;
  background-color: @background-color-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.intro__img-iphone {
  margin-top: 175px;
  margin-left: 0;
}

@media (min-width: @tablet-width) {
  .intro {
    margin: 0 auto;
    padding: 0;
    width: auto;
    position: relative;
    min-height: 729px;
    background-color: @background-color-dark;
    background-image: url("../img/back-tablet@1x.png");
    background-position: top left;
    background-repeat: no-repeat;
  }

  .intro__img-iphone {
    margin: 0;
    position: absolute;
    right: -20px;
    top: 185px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin: 0 auto;
    padding: 0;
    width: auto;
    position: relative;
    min-height: 857px;
    background-color: @background-color-dark;
    background-image: url("../img/back-desktop.jpg");
    background-position: top left;
    background-repeat: no-repeat;
  }

  .intro__img-iphone {
    top: 208px;
    right: -117px;
    margin: 0;
  }
}
