.motion {
  margin: 0 auto;
  padding: 0px 55px;
  padding-top: 45px;
  width: auto;
  position: relative;
  background-color: @background-color-main;
  &__question {
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: @font-family-main;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: @color-main;
    text-align: center;
  }
  &__answer {
    margin: 0 auto;
    font-family: @font-family-main;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: @color-main;
    text-align: center;
  }
}
