.page-header {
  position: relative;
  margin: 0 auto;
  width: auto;
  font-size: 22px;
  line-height: 65px;
  font-weight: 700;
  color: @color-white;
  text-transform: uppercase;
  background-color: rgba(40, 54, 69, 0.3);
}

.page-header__logo {
  margin: 0;
  padding: 20px 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.page-header__logo-image {
  margin: 0;
  padding: 0;
}
