.page-main {
  margin: 0 auto;
  padding: 0 20px;
  top: 0;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin-top: -110px;
    padding: 0 130px;
    width: 1200px;
  }
}
