.page-contacts {
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  width: auto;
  position: relative;
  background-color: @background-color-main;
  &__list {
    margin: 0 auto;
    padding: 0;
    background-color: @background-color-main;
  }
  &__map {
    margin-top: -347px;
  }
}
