.photo-post {
  margin: 0 auto;
  padding: 20px 0;
  width: auto;
  position: relative;
  background-color: @background-color-second;

  &__form {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
  }

  &__picture {
    margin: 0 auto;
    margin-left: 20px;
    padding: 0;
  }

  &__change {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__range-controls {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__user-button {
    border-top: 1px solid #dddfe0;
  }

  &__button-on {
    margin: 0;
    margin-top: 38px;
    margin-left: 20px;
    padding: 15px 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: @color-pink;
    width: 280px;
    height: auto;
    background-color: @background-color-second;
    border: 2px solid @color-pink;
    border-radius: 30;
    cursor: pointer;
  }

  &__button-off {
    margin: 0;
    margin-top: 12px;
    margin-left: 20px;
    padding: 15px 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #dddfe0;
    width: 280px;
    background-color: @background-color-second;
    border: 2px solid #dddfe0;
    border-radius: 30;
    cursor: pointer;
  }
}
