.photo-post {
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 41px;
  width: auto;
  position: relative;
  background-color: @background-color-second;

  &__form {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
  }

  &__picture {
    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 39px;
    padding: 0;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  &__change {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__range-controls {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  &__user-button {
    border-top: 1px solid #dddfe0;
  }

  &__button-on {
    margin: 0;
    margin-top: 39px;
    margin-left: 20px;
    padding: 9px 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: @color-pink;
    width: 278px;
    height: 55px;
    background-color: @background-color-second;
    border: 3px solid @color-pink;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
  }

  &__button-on:hover {
    color: @color-white;
    background-color: @color-pink;
  }

  &__button-on:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &__button-off {
    margin: 0;
    margin-top: 12px;
    margin-left: 20px;
    padding: 9px 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #dddfe0;
    width: 278px;
    height: 55px;
    background-color: @background-color-second;
    border: 3px solid #dddfe0;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
  }

  &__button-off:hover {
    color: #dddedf;
    border-color: #b5b9be;
    background-color: @background-color-second;
  }

  &__button-off:active {
    background-color: #b5b9be;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .photo-post {
    margin: 0 auto;
    padding: 57px 0;
    padding-bottom: 16px;
  }

  .photo-post__form {
    display: flex;
    justify-content: space-between;
  }

  .photo-post__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }

  .photo-post__change {
    margin: 0;
    margin-left: 45px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border: 1px solid red;*/
    box-sizing: border-box;
  }

  .photo-post__range-controls {
    margin: 0;
    padding: 0;
    height: 200px;
  }

  .photo-post__user-button {
    margin: 0;
    padding: 0;
    margin-left: 45px;
    margin-top: -3px;
    width: 275px;
    height: 202px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .photo-post__button-on {
    margin: 0;
    margin-bottom: 25px;
    width: 260px;
  }

  .photo-post__button-off {
    margin: 0;
    width: 260px;
  }
}

@media (min-width: @desktop-width) {
  .photo-post {
    padding: 0;
    padding-bottom: 28px;
    background-color: @background-color-main;
  }

  .photo-post__form {
    margin: 0 10px;
    padding: 57px 0;
    padding-left: 80px;
    padding-right: 54px;
    padding-bottom: 54px;
    background-color: @background-color-second;
  }

  .photo-post__change {
    margin: 0;
    margin-left: 90px;
  }

  .photo-post__user-button {
    margin: 0;
    margin-top: -2px;
    margin-left: 90px;
    width: 410px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .photo-post__button-on {
    margin: 0;
    padding: 0;
    /*margin-bottom: 24px;*/
    width: 183px;
    height: 55px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
  }

  .photo-post__button-off {
    margin: 0;
    padding: 0;
    width: 183px;
    height: 55px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
  }
}
