.photo-preview {
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 235px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: @background-color-dark;
  background-image: url("../img/back-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &__text {
    margin: 0 auto;
    margin-top: 15px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #999fa5;
    text-align: center;
    width: auto;
    height: auto;
  }
}

@media (min-width: @tablet-width) {
  .photo-preview {
    width: auto;
    height: 440px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: @background-color-dark;
    background-image: url("../img/back-tablet-form.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .photo-preview__text {
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 50px;
    line-height: 60px;
  }
}


@media (min-width: @desktop-width) {
  .photo-preview {
    width: auto;
    height: 395px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: @background-color-dark;
    background-image: url("../img/back-desktop-form.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .photo-preview__text {
    margin: 0 auto;
    margin-top: 70px;
  }
}
