.progress-list {
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 45px;
  width: auto;
  position: relative;

  &__item {
    margin: 0 auto;
    padding: 0;
  }

  &__input {
    margin: 0 auto;
    padding: 0;
  }

  &__label {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: @color-main;
  }
}
