.proposal--vh {
  display: none;
}

@media (min-width: @tablet-width) {
  .proposal,
  .proposal--vh {
    margin: 0 auto;
    padding: 0 20px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: @background-color-main;
  }

  .proposal__image {
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 238px;
    height: 276px;
    position: relative;
    display: flex;
    background-color: @background-color-main;
    background-image:
      url("../img/24-tablet.png"),
      url("../img/diagram-fill-tablet.svg"),
      url("../img/timer-tablet.svg");
    background-position:
      center center,
      center center,
      center center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
  }

  .proposal__info {
    margin: 0;
    margin-top: 90px;
    margin-left: 20px;
    padding: 0;
    width: 310px;
  }

  .proposal__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
  }

  .proposal__description {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: left;
  }

  .proposal__link {
    margin: 0;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: @color-pink;
    text-align: left;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .proposal,
  .proposal--vh {
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 17px;
    padding-bottom: 67px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: @background-color-second;
  }

  .proposal__image {
    margin: 0;
    padding: 0;
    width: 298px;
    height: 345px;
    position: relative;
    display: flex;
    background-color: @background-color-second;
    background-image:
      url("../img/24-tablet.png"),
      url("../img/diagram-fill-tablet.svg"),
      url("../img/timer-tablet.svg");
    background-position:
      center center,
      center center,
      center center;
    background-repeat: no-repeat;
  }

  .proposal__info {
    margin: 0;
    margin-top: 95px;
    margin-left: 67px;
    padding: 0;
    width: 345px;
  }

  .proposal__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
  }

  .proposal__description {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-align: left;
  }

  .proposal__link {
    margin: 0;
    padding: 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: @color-pink;
    text-align: left;
    text-decoration: underline;
  }
}
