.site-list__item {
  margin: 0 auto;
  padding: 0;
  font-family: @font-family-main;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  color: @color-white;
  width: 100%;
}
