.slider {
  margin: 0 auto;
  padding: 40px 129px;
  padding-bottom: 45px;
  width: 62px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: @background-color-second;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: #b5b9be;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: @background-color-second;
  margin-right: 13px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.slider__toggle--active {
  border-color: @color-main;
  background-color: #f2f2f2;
}


@media (min-width: @tablet-width) {
  .slider {
    padding-bottom: 22px;
  }
}
