.user-name {
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 45px;
  width: auto;
  position: relative;

  &__list {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    width: auto;
    position: relative;
    background-color: @background-color-main;
    /*border: 1px solid red;*/
  }

  &__item {
    margin: 0 auto;
    padding: 0;
    background-color: @background-color-main;
    /*border: 1px solid black;*/
  }

  &__label {
    margin: 0 auto;
    margin-left: 20px;
    padding: 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 30px;
    font-weight: 550;
    color: @color-pink;
    text-transform: uppercase;
  }

  &__input {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: @color-main;
  }
}
