.user-contacts {
  margin: 0 auto;
  padding: 40px 20px;
  padding-top: 32px;
  padding-bottom: 26px;
  width: auto;
  position: relative;

  &__list {
    margin: 0 auto;
    padding: 0;
    font-family: @font-family-main;
    width: auto;
    position: relative;
    background-color: @background-color-main;
    /*border: 1px solid red;*/
  }

  &__form {
    margin: 0 auto;
    padding: 0;
    background-color: @background-color-main;
    /*border: 1px solid black;*/
  }

  &__legend {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .user-contacts {
    margin-top: 58px;
    padding: 20px 60px;
    padding-bottom: 2px;
    width: 620px;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    order: 2;
  }

  .user-contacts__legend {
    margin: 0 auto;
    margin-left: 20px;
    padding: 0 32px;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @color-pink;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    white-space: normal;
    display: table;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts {
    margin-top: 12px;
    padding: 35px 60px;
    padding-bottom: 0;
    padding-right: 59px;
    width: 940px;
  }

  .user-contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .user-contacts__form {
    margin: 0;
  }
}
