.user-button {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 9px 20px;
  width: auto;
  position: relative;
  background-color: @background-color-main;

  &__input {
    margin: 0;
    padding: 20px 0;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: @color-white;
    text-transform: uppercase;
    text-align: center;
    width: 280px;
    height: 63px;
    background-color: @color-green;
    box-sizing: border-box;
    border: 2px solid @color-green;
    border-radius: 2px;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .user-button {
    margin: 0;
    padding: 0;
    order: 5;
  }

  .user-button__input {
    width: 300px;
  }
}
