.user-emotion {
  margin: 0 auto;
  padding: 40px 0;
  font-family: @font-family-main;
  width: auto;
  position: relative;
  background-color: @background-color-main;
  &__item {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: @background-color-main;
    /*border: 1px solid black;*/
  }
  &__label {
    margin: 0 auto;
    padding: 10px 0;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 30px;
    font-weight: 550;
    color: @color-pink;
    text-align: center;
    text-transform: uppercase;
  }
  &__input {
    margin: 0 auto;
    padding: 0;
    padding-top: 22px;
    font-family: @font-family-main;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: @color-main;
    width: 276px;
    text-align: center;
    border: 2px solid #e5e5e5;
  }
}
