body {
  margin: 0 auto;
  padding: 0;
  font-family: @font-family-main;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: @color-main;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  /*background-color: @background-color-main;*/
  background-color: #d8c7b2;
}

a {
  color: @color-white;
  text-decoration: none;
}

fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}

// Подключаем шрифты
@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src:
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src:
    local("OpenSans"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;
  src:
    local("OpenSans"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

// Оформление input type=range в посте фотографии

// Применение базовых CSS стилей
input[type="range"] {
  appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  width: 242px; /* Указание параметра ширины требуется для Firefox. */
}

input[type="range"]:focus {
  outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}

input[type="range"]::-ms-track {
  // Полоса диапазона
  width: 242px;
  cursor: pointer;
  background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  color: transparent;
  height: 2px;
  margin-left: -2px;
}

// Оформление ползунка
/* Специальные правила для браузеров на движках WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid @color-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: @background-color-second;
  cursor: pointer;
  margin-top: -6px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
}

input[type="range"]::-webkit-slider-thumb:active {
  background: @color-pink;
}

/* Тоже самое для Firefox */
input[type="range"]::-moz-range-thumb {
  border: 2px solid @color-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: @background-color-second;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  background: @color-pink;
}

/* Тоже самое для IE */
input[type="range"]::-ms-thumb {
  border: 2px solid @color-pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: @background-color-second;
  cursor: pointer;
}

input[type="range"]::-ms-thumb:active {
  background: @color-pink;
}

// Оформление полосы диапазона

input[type="range"]::-webkit-slider-runnable-track {
  width: 242px;
  height: 2px;
  cursor: pointer;
  background: #283645;
  margin-left: -2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #283645;
}

input[type="range"]::-moz-range-track {
  width: 242px;
  height: 2px;
  cursor: pointer;
  background: #283645;
  margin-left: -2px;
}

input[type="range"]::-ms-fill-lower {
  background: #283645;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #283645;
}

input[type="range"]::-ms-fill-upper {
  background: #283645;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #283645;
}

@media (min-width: @tablet-width) {
  // Применение базовых CSS стилей
  input[type="range"] {
    appearance: none; /* Скрывает слайдер, чтобы можно было создать свой -webkit-*/
    width: 202px; /* Указание параметра ширины требуется для Firefox. */
  }

  input[type="range"]::-ms-track {
    width: 202px;
  }

  // Оформление полосы диапазона

  input[type="range"]::-webkit-slider-runnable-track {
    width: 202px;
  }

  input[type="range"]::-moz-range-track {
    width: 202px;
  }
}

@media (min-width: @desktop-width) {
  // Применение базовых CSS стилей
  input[type="range"] {
    appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
    width: 288px; /* Указание параметра ширины требуется для Firefox. */
  }

  input[type="range"]::-ms-track {
    width: 288px;
  }

  // Оформление полосы диапазона

  input[type="range"]::-webkit-slider-runnable-track {
    width: 288px;
  }

  input[type="range"]::-moz-range-track {
    width: 288px;
  }
}
